extends layout

block content
  h1 Character List
  ul
    each character in characters
      li
        p= character.name
        p= character.story
        p Games he's been in (id): #{character.game_ids}
        p Owner (id): #{character.player_id}
        h2 Features
        ul
          each feature in character.features
            li
              span= feature.feature_id
              span= feature.content

        form#formDeletecharacter(name='deletecharacter', method='post', action='/delete-character')
          input(type='hidden', name='id', value='#{character._id}')
          button#btnSubmit(type='submit') x
          